/*============*/
/*Tests*/
/*============*/

/*.project-1 {
  background-color: blue;
  }

.project-2 {
  background-color: green;
  }

.project-3 {
  background-color: yellow;
  }*/

  /*.container {
    background-color: #dcc7aa;
  }*/

/*============*/
/*Page Display*/
/*============*/

header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
}

footer {
   position:fixed;
   bottom:0;
   left:0;
   right:0;
}

body{
  padding-bottom: 7%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 1px;
}

.name {
  width: 100%;
}

.work-type {
  width: 100%;
}

.skills {
  width: 100%;
}

.intro {
  width: 100%;
}

.project, .dev-project {
  width: 100%;
  padding-bottom: 2%;
}

/*============*/
/*Text Display*/
/*============*/

* {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.intro {
  width: 60%;
  margin: auto;
  padding-top: 15%;
}

.skills span {
  background-color: #136fd1;
  color: white;
  padding: 1%;
  line-height:2;
  border-radius: 15px;
}

.skills, .work-type {
  padding-bottom: 2%;
}

h2, h3 {
  color: #136fd1;
}

footer, header {
  background-color: #13b5ba;
}

header h1, header h3 {
  color: white;
}

.intro h3 {
  padding-top: 1.6%;
}

footer {
  margin-top: 3.5%;
}

.dev-project {
  padding: 1%;
  margin: 1%;
  border: 2px solid #e8e8e8;
}

/*.dev-project h3, .dev-project p, .dev-project a {
  color: white;
}*/

.dev-project a {
  margin: 0 25px;
  text-decoration: none;
  color: #13b5ba;
  font-size: 1.2em;
  padding: 1.5%;
}

.dev-project a:hover {
  background-color: #13b5ba;
  border-radius: 15px;
  color: white;
}

/*.project {
  background-color: grey;
  margin: 1%;
}*/

.dev-project span {
  color: #c0c0c0;
  font-weight: bold;
}

.div-box {
  width: 70%;
  margin: auto;
}

.div-box p {
  text-align: center;
}
/*.dev-project h3 {
  color: #f7c331;
}*/

/*============*/
/*Images*/
/*============*/
.responsive-image {
  max-width: 100%;
  display: block;
  margin: 0 auto
}

.project-image {
  height: 200px;
  border: 1px solid #e8e8e8;
}

footer {
  padding: .7%;
  margin-top: 70px;
}

.icon {
  padding-right: 12px;
}
/*============*/
/*Responsive*/
/*============*/

@media screen and (min-width: 550px) {
  .dev-project {
    width: 45%;
  }
  .project {
    width: 50%;
  }

@media screen and (min-width: 769px) {
  .dev-project {
    width: calc(86% / 3);
  }
  .project {
    width: calc(100%/3);
  }
}
