.project-container {
    width: 70%;
    margin: auto;
}
/*-----*/
/*Text*/
/*----*/

.heavyweight {
  font-weight: bold;
}

.highlight {
  color: #13b5ba;
}

.problem {
  border: 1px solid #e8e8e8;
}

span {
  color: #13b5ba;
}

.left-align li {
  text-align: left;
  line-height: 1.9;
}

h3 {
  padding-top: 3%;
}

p {
  padding: 1.5%;
}

header h3 {
  padding-top: .1%;
}

.standalone {
  line-height: 3;
  font-weight: bold;
}

.no-decoration {
  list-style: none;
}

.title{
  padding-top: 15%;
}

/*-----*/
/*Images*/
/*----*/

img {
  border: 1px solid #e8e8e8;
}

.key-screen img {
  width: 65%;
  margin: 2%;
}

.key-screen-small img {
  display: block;
  margin: 10px auto;
}

footer img {
  border: none;
}

@media screen and (max-width: 880px) {
  .title {
    margin-top: 25%;
  }
}
